<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center padding>
  <h2>Welcome to todoApp!</h2>
  <p>
    Type in a todo to submit to database.
  </p>
  <ion-input placeholder="Todo name" [(ngModel)]="todo.name"></ion-input>
  <button ion-button (click)="saveTodo()">SAVE</button>
  <ion-list *ngIf="todos">
    <ion-item *ngFor="let todo of todos | async" (click)="editTodo(todo)">
      {{ todo.name }}
    </ion-item>
  </ion-list>
</ion-content>